@{
    ViewBag.Title = "Home Page";
}
<style>
    h3 {
        font-family:'Amber Shaie';
        color:silver;
        font-size:95px;
        text-align:center;
    }
    p {
        font-family:'Amber Shaie';
        color:silver;
        font-size:35px;
        text-align:center;

    }
    img{
        margin-left:250px;
        height:100px;
        width:450px;
    }
</style>
<br />
<br />
<br />
<br />
<div class="container">
    @*<img src="~/Content/icon1.png" />*@
    <h3><strong>Mawar & Bram Wedding Day</strong> </h3>
    <img src="~/Content/icon1.png" />
    <br />
    <br />
    <br />
    <br />
    <p>January, 1 2017</p>
    <p>Grand Pasific Indonesia</p>
  
</div>